<mat-card>
 <mat-card-content>
    <mat-toolbar color="primary">
      Usuarios Cadastrados
    </mat-toolbar>
    <div *ngIf=" usuario$ | async as usuario; else loading">
      <table mat-table [dataSource]="usuario" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

        <!-- CPF Column -->
        <ng-container matColumnDef="cpf">
          <th mat-header-cell *matHeaderCellDef> CPF </th>
          <td mat-cell *matCellDef="let usuario"> {{ usuario.cpf }}
            <mat-icon aria-hidden="false" aria-label="CPF do Usuario"  fontIcon="{{ usuario.cpf | category }}"></mat-icon>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <td mat-cell *matCellDef="let usuario"> {{ usuario.name }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <ng-template #loading>
      <div class="loading-spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>

  </mat-card-content>
</mat-card>
